:root{

    --primary-color:#E67F22;
    --secondary-color:#f9f9f9;
    --bolder : 700;
    font-size:16px ;
}

*{
    box-sizing: border-box;
    padding: 0;

    margin: 0;
}
body {
    background-color: white;
    color: black;
}


body.dark-theme {
    background-color: #333;
    color: white;
}

.moon {
    display: block;
}
.sun {
    display: none;
}

.dark-theme .moon {
    display: none;
}

.dark-theme .sun {
    display: block;
}

img{
    width: 100%;
   
    object-fit: cover;
    vertical-align: middle;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;

  .moon, #sun-icon {
        transform: rotate(-100deg);
        width: 40px;
        height: 40px;
        padding: 10px;
        position: absolute;
        top: 40%;
       right: 17%;
       color: #F3D36B;
       border: 2px solid var(--secondary-color);
       border-radius: 50%;
       background-color: var(--secondary-color) ;
       transition: all 0.3s ease;
       

       
     
       
       
    }
    
    }

    nav{
        display: none;
        list-style: none;
    }
    span{
        font-weight: bolder;
        margin-left: 20px;
        color: var(--primary-color);
    }



header a{
    text-decoration: none;
}
main{

    text-align: center;

    .sect1, .sect2, .sect3{

        width: 80%;
        margin: auto;
        margin-bottom: 20px;
       


}

h1, h2, h3{

    font-weight: var(--bolder);
    margin-bottom: 10px;
    text-decoration-line: underline;
    
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

form {
    max-width: 480px;
    margin: 0 auto;
    
}
;
   
form div {
   
    padding-bottom: 12px;
    font-size: 12px;
    text-align: left;
}

input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}


#rgpd {
    width: 100%;
 font-size: 1.5rem;
border-radius: 18px
}
button{width: 100%;
padding: 12px}
}






footer{
    background-color: black;
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;

    margin-top: 2rem;
}

@media (min-width: 768px) {

    .sect1, .sect2, .sect3{
        box-shadow: 5px 5px 5px  5px rgb(223, 218, 218);
        
    }

    h1, h2, h3, {
        line-height: 1,6rem;
    }

    
}

@media (min-width: 1024px){
    header{
        position: relative;
    }
     .menu {
        display: flex;              
        justify-content:center; 
        align-items: center;
        padding: 0;
       
        list-style: none;  
        width: 50%;  
        margin: auto;   

    }
    
     li {
        display: inline;            
    }
    
     li a {
        text-decoration: none;      
        padding: 10px 15px; 
        color: black;        
                    
    }
    .burger{
        display: none;
    }



}
